{
  "presets": ["next/babel"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "import",
      [
        {
          "libraryName": "antd"
        }, {
          "libraryName": "antd-mobile"
        }
      ]
    ]
  ]
}
