{
  "env": {
    "dev": {
      "presets": ["next/babel"],
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        ["import", { "libraryName": "antd", "style": "css" }],
        ["import", { "libraryName": "antd-mobile", "style": "css" }, "ant-mobile"]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        ["import", { "libraryName": "antd", "style": "css" }],
        ["import", { "libraryName": "antd-mobile", "style": "css" }, "ant-mobile"]
      ]
    },
    "test": {
      "presets": [[
        "next/babel",
        { "preset-env": { "modules": "commonjs" }}
      ]]
    }
  }
}
