{
  "env": {
    "dev": {
      "presets": ["next/babel"],
      "plugins": [
        "transform-class-properties",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["import", { "libraryName": "antd" }],
        ["import", { "libraryName": "antd-mobile" }, "ant-mobile"]
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        "transform-decorators-legacy",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["import", { "libraryName": "antd" }],
        ["import", { "libraryName": "antd-mobile" }, "ant-mobile"]
      ]
    },
    "test": {
      "presets": [[
        "next/babel",
        { "preset-env": { "modules": "commonjs" }}
      ]],
      "plugins": [
        "transform-decorators-legacy",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["import", { "libraryName": "antd" }],
        ["import", { "libraryName": "antd-mobile" }, "ant-mobile"]
      ]
    }
  }
}
